@import '../../../common.scss';

.detailInfo{
  overflow-y: scroll;
  padding-bottom: 130px;
}
.detailInfo-head{
  margin-top: 20px;
}
.detailInfo-head-titleBox{
  background: #ffffff;
  padding:20px 26px 0;
}
.detailInfo-head-titleBox-title{
  font-size: 30px;
  font-weight: bold;
  color: rgba(42, 42, 42, 1);
  padding: 20px 0;
}
.detailInfo-head-titleBox-time{
  font-size: 28px;
  font-weight: 400;
  color: rgba(127, 126, 126, 1);
  padding-bottom: 20px;
  border-bottom: 1px solid #f1f1f1;
}
.detailInfo-userContent{
  background: #ffffff;
  display: flex;
  padding: 20px
}
.detailInfo-userContent-image{
  height: 100px;
  width: 100px;
  border-radius: 50%;
}
.detailInfo-userContent-content{
  flex: 1;
  color: #333;
  font-size: 30px;
  margin-left: 20px;
}
.detailInfo-userContent-content-list{
  line-height: 56px;
  height: 56px;
}
.detailInfo-userContent-buttonBox{
  width: 200px;
  display: flex;
  margin: auto 0;
}
.detailInfo-userContent-button-end {
  background: #f4f6f9;
  width:140px;
  height:40px;
  line-height: 40px;
  border-radius:3px;
  margin-right: 13px;
  color: #525252;
  font-size: 25px;
  text-align: center
}
.detailInfo-userContent-button-call{
  width:115px;
  height:40px;
  line-height: 40px;
  background:rgba(0, 153, 255, 1);
  box-shadow:0px 2px 2px 0px rgba(176, 221, 250, 1);
  border-radius:3px;
  margin-right: 13px;
  color: #fff;
  font-size: 25px;
  text-align: center
}
.detailInfo-userContent-button-complaint {
  width:61px;
  height:40px;
  line-height: 40px;
  color: #fff;
  background:rgba(255, 36, 0, 1);
  box-shadow:0px 2px 2px 0px rgba(248, 202, 195, 1);
  border-radius:3px;
  font-size: 25px;
  text-align: center
}
.detailInfo-userContent-button{
  font-size: 26px;
  height: 50px;
  line-height: 50px;
  padding: 0 10px;
  width: 100%;
  background: #0099ff;
  color: white;
  justify-content: center;
  justify-items: center;
  vertical-align: middle;
}
.detailInfo-tips-box{
  padding-bottom: 40px;
  background: #ffffff
}
.detailInfo-tips{
  margin: 0 auto;
  background: rgba(237, 241, 250, 1);
  color: #333;
  line-height: 50px;
  padding: 0 40px;
  font-size: 28px;
  border-radius: 20PX;
  width: max-content;
}
.detailInfo-tips-color{
  color: red;
}
.detailInfo-project-content{
  margin-top: 10px;
  background: #ffffff;
  padding: 20px;
}
.detailInfo-project-content-title{
  font-size: 28px;
  font-weight: bold;
  color: #070707;
  padding: 20px 0;
}
.detailInfo-project-content-classifyName-box{
  display: flex;
  flex-wrap: wrap
}
.detailInfo-project-content-classifyName{
  padding: 10px;
  background:rgba(245, 245, 245, 1);
  border-radius:3px;
  font-size: 26px;
  font-weight: 400;
  color: #717070;
  text-align: center;
  margin-right: 20px;
  margin-bottom: 10px;
  width: max-content;
}
.detailInfo-project-content-detail {
  font-size: 28px;
  font-weight: 400;
  color:rgba(113, 112, 112, 1);
  line-height: 40px;
  padding-bottom: 10px;
  border-bottom: 1px solid #dcdcdc;
  // @include textrow();
}
.detailInfo-project-content-image-box{
  display: flex;
  flex-wrap: nowrap;
  margin-top: 26px;
  padding-bottom: 37px;
  border-bottom: 1px solid #dcdcdc;
}
.detailInfo-project-content-image{
  height: 185px;
  width: 185px;
  margin-right: 48px;
}
.detailInfo-project-content-address{
  padding-top: 20px;
  font-size: 28px;
  font-weight: bold;
  color: rgb(42, 42, 42);
  position: relative;
}
.detailInfo-project-content-address-color{
  font-size: 28px;
  font-weight: 400;
  color: rgb(127, 126, 126);
  margin-top: 25px;
  margin-bottom: 29px;
}
.detailInfo-project-content-map {
  position: absolute;
  right: 10px;
  top: 20px;
  color:$color;
  font-size: 24px;
}
.detailInfo-footer-content{
  position: fixed;
  width: 100%;
  height: 120px;
  background: white;
  left: 0;
  bottom: 0;
  border-top: 1px solid #e8e6e3;
  box-shadow: #e8e6e3 0 0 5px;
  z-index: 5;
}
.detailInfo-footer-content-box{
  // display: flex;
  height: 100%;
}
.detailInfo-footer-content-box-image{
  height: 40px;
  width: 40px;
}
.detailInfo-footer-content-box-list{
  float: left;
  width: 19%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background: transparent;
  padding: 2px 0 0;
  border-radius: 0;
  line-height: initial;
}
.detailInfo-footer-content-box-text{
  font-size: 26px;
}
.detailInfo-footer-content-box-button {
  position: absolute;
  line-height: 70px;
  top: 25px;
  right: 30px;
  width: 32%;
  background-image: linear-gradient(to right , #1e9dff, #1c51f9);
  font-size: 26px;
  color: white;
  border-radius: 20PX;
  text-align: center;
}
.detailInfo-button-end{
  background: #f4f6f9;
  color: #525252;
}
.detailInfo-prompt-content{
  margin-top: 20px;
  padding: 26px 37px 27px 26px;
  color: #717070;
  font-size:26px;
  background: #ffffff;
}
.detailInfo-prompt-content-title{
  color: #F94046;
  vertical-align: middle;
}
.detailInfo-prompt-content-title-icon{
  margin-top: 10px;
}
.detailInfo-prompt-content-title-tips{
  margin-left: 10px;
  display: inline-block;
  margin-bottom: 6px;
  padding-bottom: 6px;
  vertical-align: middle;
}
.detailInfo-prompt-content-blued{
  color: $color;
}
.detailInfo-prompt-content-red{
  color: #F94046;
  margin-left: 10px;
}
.detailInfo-Image{
  margin-top: 20px;
  width: 100%;
  height: 201px;
}

.detailInfo-userfooter {
  position: fixed;
  width: 100%;
  height: 120px;
  background: white;
  left: 0;
  bottom: 0;
  border-top: 1px solid #e8e6e3;
  box-shadow: #e8e6e3 0 0 5px;
  z-index: 5;
}
.detailInfo-userfooter-examine{
  color: #F94046;
  line-height: 120px;
  margin-left: 30px;
  font-size: 28px;
}
.detailInfo-userfooter-examine-image{
  width: 30px;
  height: 30px;
  margin-top: 10px;
  margin-right: 10px;
}
.detailInfo-edit{
  position: fixed;
  width: 100%;
  height: 100px;
  background: white;
  left: 0;
  bottom: 0;
  border-top: 1px solid #e8e6e3;
  box-shadow: #e8e6e3 0 0 5px;
  z-index: 5;
}
.detailInfo-edit-box{
  display: flex;
  justify-content: space-around;
  height: 100%;
}
.detailInfo-edit-list {
  display: inline-block;
  border: 1px solid #f5f5f5;
  font-size: 30px;
  color: #525252;
  text-align: center;
  font-size: 28px;
  flex: 1;
  height: 70px;
  line-height: 70px;
  margin: auto 15px;
}
.detailInfo-edit-list-none{
  display: none;
}
.detailInfo-edit-list-edit{
  display: inline-block;
  border: 1px solid #f5f5f5;
  font-size: 30px;
  color: red;
  text-align: center;
  font-size: 28px;
  flex: 1;
  height: 70px;
  line-height: 70px;
  margin: auto 15px;
}
.see-recruit-list-btn{
  position: relative;
  margin: 20px 0;
  width: 100%;
  background-color: $color;
  color: white;
  line-height: 120px;
  text-align: center;
  font-size: 34px;
  letter-spacing: 2px;
  font-weight: bold;
}