@import '../../common.scss';

.member-container{
  position: relative;
  width: 100%;
  padding-bottom: $paddingbottom;
  .member-header-box{
    position: relative;
    width: 100%;
    height: 380px;
    background-image: url(http://cdn.yupao.com/miniprogram/images/new-ucenter.png);
    background-repeat: no-repeat;
    background-size: 100% 100%;
    .member-header-title{
      position: relative;
      line-height: 110px;
      text-align: center;
      font-size: 34px;
      color: #ffffff;
    }
    .member-userinfobox{
      position: absolute;
      width: 100%;
      left: 0;
      top: 110px;
      padding:0 20px;
    }
    .member-userinfo{
      position: relative;
      width: 100%;
      height: 315px;
      background-color: white;
      box-shadow: 0 0 5px $shadowcolor;
      border-radius: 10px;
      padding: 0 20px;
      .member-userinfo-content{
        position: relative;
        height: 165px;
        border-bottom: 1px solid $bordercolor;
        padding: 20px 0;
        padding-left: 150px;
        font-size: 30px;
        font-weight: bold;
        @include flex(column);
        align-items: flex-start;
        .member-userinfo-avatar{
          position: absolute;
          width: 120px;
          height: 120px;
          left:0;
          top:20px;
          border-radius: 50%;
        }
        .member-username{
          position: relative;
          .member-username-text{
            position: relative;
            display: inline-block;
          }
          .member-realnameimg{
            position: absolute;
            display: inline-block;
            width: 90px;
            height: 30px;
            top: 7px;
            right: -100px;
            vertical-align: middle;
          }
        }
        .member-usernum{
          position: relative;
          margin-top: 10px;
          .member-id{
            color: $color;
          }
        }
        .member-editinfo{
          position: absolute;
          right: 20px;
          bottom: 35px;
          border: 1px solid #d3d4d5;
          font-size: 26px;
          color: #656666;
          padding: 5px 10px;
          border-radius: 8px;
          font-weight: normal;
        }
      }
    }
    .member-userinfo-null{
      padding: 0;
      .member-toauth{
        position: relative;
        width: 100%;
        padding: 0 27px;
        padding-left: 160px;
        height: 175px;
        .member-user-nullimg{
          display: block;
          position: absolute;
          width: 100px;
          height: 100px;
          left: 30px;
          top: 40px;
        }
        .member-user-login{
          position: relative;
          display: block;
          line-height: 175px;
          letter-spacing: 2px;
          font-size: 30px;
          font-weight: bold;
        }
      }
      .member-login-tips{
        position: relative;
        border-top: 1px dashed #dcdcdc;
        font-size: 26px;
        line-height: 50px;
        color: #666;
        width: 100%;
        height: 140px;
        padding: 0 20px;
        @include flex();
      }
    }
    .member-user-integral{
      position: relative;
      @include flex();
      .member-integral-item{
        position: relative;
        @include flex(column);
        font-weight: bold;
        flex:1;
        height: 150px;
        .member-integral-num{
          color: $color;
          font-size: 32px;
        }
        .member-integral-text{
          color: #666564;
          font-size: 30px;
          margin-top: 5px;
        }
        .member-integral-tips{
          position: absolute;
          font-size: 20px;
          color: #ff0000;
          right: 20px;
          top: 20px;
        }
      }
    }
  }
  .member-body-container{
    position: relative;
    margin-top: 60px;
    padding: 0 20px;
    .member-list-container{
      position: relative;
      border-radius: 10px;
      background-color: white;
      margin-bottom: 15px;
      box-shadow: 0 0 5px $shadowcolor;
      .member-list-item{
        position: relative;
        padding-left: 80px;
        padding-right: 20px;
        line-height: 90px;
        .member-list-dot{
          position: relative;
          &::after{
            position: absolute;
            right: -15px;
            content: '';
            width: 8px;
            height: 8px;
            background-color: #ff0000;
            border-radius: 50%;
            top: 5px;
          }
        }
        .member-list-icon{
          position: absolute;
          display: block;
          width: 40px;
          height: 40px;
          left: 20px;
          top:23px;
        }
        .member-list-title{
          position: relative;
          font-size: 28px;
          color: #282A34;
          width: 100%;
          display: block;
          border-bottom: 1px solid #e6e6e6;
          .member-num-dotbox{
            position: relative;
            display: inline-block;
            .member-num-dot{
              position: absolute;
              right: -30px;
              width: 30px;
              background-color: #ff0000;
              border-radius: 50%;
              top: -40px;
              color: white;
              line-height: 30px;
              text-align: center;
              font-size: 20px;
            }
          }
        }
        &:nth-last-child(1) .member-list-title{
          border-bottom: none;
        }
        &::after{
          position: absolute;
          content: '';
          width: 15px;
          height: 15px;
          border-top: 1px $bordercolor solid;
          border-right: 1px $bordercolor solid;
          transform: rotate(45deg);
          right: 30px;
          top: 39px;
        }
        .member-list-tips{
          position: absolute;
          right: 50px;
          top: 0;
          display: inline-block;
          font-size: 24px;
          color: #b4b2b2;
        }
      }
    }
  }
}