@import '../../../common.scss';

.usedinfo-container{
  position: relative;
  width: 100%;
  padding-top: $margin;
  margin-bottom: 150px;
  .usedinfo-body{
    position: relative;
    margin-top: $margin;
    background-color: white;
    @include shadow();
    .usedinfo-report{
      position: relative;
      padding: 20px;
      font-size: 30px;
      color: #333;
      line-height: 50px;
      border-bottom: 1px solid #dcdcdc;
      .usedinfo-report-text{
        color: #ff0000;
      }
    }
    .usedinfo-item{
      position: relative;
      padding: 20px;
      border-bottom: 1px solid #dcdcdc;
      font-size: 30px;
      .usedinfo-item-title{
        position: relative;
        line-height: 60px;
        width: 200px;
        float: left;
      }
      .usedinfo-item-text{
        position: relative;
        color: $color;
        line-height: 60px;
        float: right;
        .usedinfo-item-end{
          color: #ff0000;
        }
      }
    }
    .usedinfo-full-item{
      width: 100%;
      .usedinfo-item-title{
        width: 100%;
      }
    }
  }
}

.see-recruit-list-btn{
  position: relative;
  margin: 20px auto;
  border-radius: 60px;
  width: 60%;
  background-color: $color;
  color: white;
  line-height: 80px;
  text-align: center;
  font-size: 28px;
  letter-spacing: 2px;
  font-weight: bold;
}