.issue-tip-container {
  height: 100vh;
  background-color: white;
  position: relative;
  width: 100%;
  padding: 20px;
}

.success-box {
  position: relative;
  margin-top: 70px;
}

.success-tips-icon {
  width: 250px;
  height: 250px;
  border-radius: 50%;
}

.success-box text {
  font-size: 28px;
  margin-top: 20px;
}

.success-tips-btns {
  position: fixed;
  padding: 0 50px;
  left: 0;
  width: 100%;
  bottom: 500px;
  justify-content: space-between;
  align-content: space-between;
}

.success-tips-btns button {
  background-color: #0099ff;
  color: #fff;
  font-size: 28px;
  width: 45%;
  text-align: center;
  line-height: 75px;
  border-radius: 5px;
}
.flex-column {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.flex-row {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}