.nodata-picker-input{
  font-size: 30px;
  // padding: 0 20px;
  width: 60vw;
  color:rgba(203, 203, 203,1);
}
.data-picker-input{
  font-size: 30px;
  padding: 0 20px;
  width: 60vw;
  color: rgb(0, 0, 0)
}
