@import '../../../common.scss';
.addProjectPage{
  overflow-y: scroll;
}
.content {
  width: 93%;
  margin: 0 auto;
}
.feedback-content-middle {
  margin-top: 20px;
  font-size: 30px;
}
.at-input {
  margin-top: 20px;
  margin-left: 0px;
  padding-left: 20px;
}
.at-list__item .item-extra__info {
  overflow: initial;
  text-overflow: initial;
}
.at-list__item-content {
  flex: none;
  width: 210px !important;
  margin-right: 0;
  overflow: initial;
}
.feedback-content-middle-box {
  background: #fff;
  padding: 20px;
}
.feedback-content-middle-textarea {
  background: #fff;
  border: none;
  border-radius: 0px;
  width: 100%;
  font-size: 28px;
  padding-top: 20px;
}
.feedback-content-middle-from {
  margin: 30px 20px;
}
.feedback-wordsTotal {
  position: absolute;
  right: 50px;
}
.list{
  margin-top: 10px;
}
.footer {
  position: fixed;
  bottom: 0;
  background-color: white;
  height: 110px;
  width: 100%;
  box-shadow: 0 0 5px #E7E6E4;
  z-index: 9999;
}

.left {
  width: 325px;
  height: 80px;
  background: white;
  border: 1px solid #0099FF;
  position: absolute;
  left: 27px;
  top: 15px;
  color: #0099FF;
  line-height: 80px;
  text-align: center;
  font-size: 29px;
  border-radius: 10px
}

.right {
  width: 325px;
  height: 80px;
  background: #0099FF;
  position: absolute;
  right: 27px;
  top: 15px;
  color: white;
  line-height: 80px;
  text-align: center;
  font-size: 29px;
  border-radius: 10px
}
.publish-list-item {
  display: flex;
  position: relative;
  width: 90%;
  height: 125px;
  line-height: 125px;
  margin-left: 30px;
  border-bottom: 1px solid #F1F1F1;
}
.pulish-list-title {
  width: 180px;
  display: block;
  text-align: justify;
  line-height: 125px;
  font-size: 30px;

  &::after {
    @include text-justify();
  }
}
.publish-list-input {
  position: relative;
  width: 100%;
  height: 125px;
  line-height: 125px;
  display: block;
  font-size: 30px;
  margin-left: 30px;

  .publish-input-list {
    position: relative;
    display: inline-block;
    margin-right: 20px;

    &:nth-last-child(1) {
      margin-right: 0;
    }
  }
}
.publish-recruit-card {
  position: relative;
  background-color: white;
  margin-top: 19px;
}