@import '../../../common.scss';
.projects-container{
  position: relative;
  padding: 0 20px;
  .project-item{
    position: relative;
    margin-top: 15px;
    background-color: white;
    border-radius: 5px;
    padding: 10px;
    box-shadow: 0 0 2px #dcdcdc;
    .project-status-img{
      position: absolute;
      width: 110px;
      height: 110px;
      left: 0;
      top: 0;
      z-index: 1;
    }
    .project-item-title{
      position: relative;
      line-height: 55px;
      font-size: 28px;
      font-weight: bold;
    }
    .project-item-edit{
      position: absolute;
      line-height: 55px;
      font-size: 28px;
      font-weight: bold;
      color: $color;
      right: 20px;
      top: 10px;
    }
    .project-time{
      position: relative;
      line-height: 40px;
      font-size: 28px;
      color: #8b8b8a;
      margin-bottom: 15px;
      .project-time-text{
        margin-right: 15px;
        &:nth-last-child(1){
          margin-right: 0;
        }
      }
    }
    .project-description{
      position: relative;
      padding: 10px 0;
      font-size: 28px;
      line-height: 40px;
      color: #8b8b8a;
    }
    .project-reason-text{
      position: relative;
      margin-top: -5px;
      color: red;
      font-size: 28px;
      line-height: 65px;
    }
  }
}
.add-certificate-btn {
  position: relative;
  color: white;
  width: 60%;
  line-height: 80px;
  background-color: $color;
  border-radius: 20PX;
  text-align: center;
  margin: 30px auto;
  font-size: 28px;
}