@import '../../../common.scss';
.header{
  margin: 20px 0px;
  position: relative;
  font-size: 34px;
  text-align: center;
  line-height: 80px;
  background: white;
}
.header-text::after{
  position: absolute;
  display: block;
  content: '';
  height: 1px;
  width: 100px;
  background: #E5E5E5;
  top: 40px;
  right: 15%;
}
.header-text::before {
  position: absolute;
  display: block;
  content: '';
  height: 1px;
  width: 100px;
  background: #E5E5E5;
  top: 40px;
  left: 15%;
}
.recruitListBox{
  // width: 90%;
  width: 100%;
  padding: 20px 30px;
  // margin: 0 auto;
  background: white;
  margin-bottom: 20px;
}
.recruitListBox-title{
  font-size: 32px;
  color: #000;
  line-height: 60px;
  padding: 20px 0px;
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
}
.recruitListBox-content{
  display: flex;
  padding: 20px 0px;
  border-top: 1px #cecdd1 dashed;
  border-bottom: 1px #cecdd1 dashed;
  color: #7f7e7e;
  font-size: 28px;
}
.recruitListBox-content-img{
  height: 135px;
  width: 135px;
  border-radius: 50%;
}
.recruitListBox-content-box{
  flex: 1;
  margin-left: 20px;
  height: 112px;
  overflow: hidden;
}
.recruitListBox-content-box-ios {
  flex: 1;
  margin-left: 20px;
  height: 112px;
  overflow: hidden;
}
.recruitListBox-content-details{
  width: 500px;
  overflow:hidden;
  text-overflow:ellipsis;
  display:-webkit-box;
  -webkit-line-clamp:2;
  word-break:break-all;
}
.recruitListBox-content-name{
  color: #000;
}
.recruitListBox-footer{
  display: flex;
  justify-content: space-between;
  font-size: 28px;
  color: rgba(127, 126, 126, 1);
  padding: 20px 0px;
}
.recruitListBox-last{
  background: white;
  line-height: 100px;
  margin-top: 15px;
  color: #0099ff;
  text-align: center;
  font-size: 30px;
  letter-spacing: 3px;
}
.recruitListBox-footer-image{
  width: 30px;
  height: 30px;
}