.yupao-common-container{
    .user-changepass-box{
        .user-changepass-tips{
            position: relative;
            display: block;
            padding: 0 27px;
            line-height: 80px;
            font-size: 30px;
        }
        .common-publish-item{
            background: white;
            position: relative;
            padding: 0 20px;
            min-height: 100px;
            .common-publish-item-content{
                padding: 20px 0;
                padding-left: 180px;
                padding-right: 80px;
                border-bottom: 1px solid #dcdcdc;
                overflow: hidden;
                .common-publish-words{
                    position: absolute;
                    left: 20px;
                    top: 20px;
                    line-height: 60px;
                    font-size: 30px;
                    font-weight: bold;
                    width: 140px;
                    text-align: justify;
                    &::after{
                        content: '.';
                        width: 100%;
                        display: inline-block;
                        overflow: hidden;
                        height: 0;
                    }
                }
                .common-publish-Input{
                    position: relative;
                    width: 100%;
                    display: block;
                    height: 60px;
                    font-size: 30px;
                    line-height: 20px;
                    border: 0;
                }
                .pass-eyes-icon{
                    position: absolute;
                    display: block;
                    width: 39px;
                    height: 23px;
                    right: 30px;
                    top: 40px;
                    background: url("http://cdn.yupao.com/miniprogram/images/eyes.png") no-repeat;
                    background-size: 100% 100%;
                    filter: grayscale(100%);
                    z-index: 1;
                }
                .pass-eyes-icon-active{
                    filter: grayscale(0);
                }
            }
        }
        & .common-publish-item:nth-last-child(1) .common-publish-item-content{
          border-bottom: 0;
        }
    }
    .common-sure-btn{
        position: relative;
        width: 80%;
        height: 80px;
        line-height: 80px;
        background: #0099ff;
        color: #fff;
        display: block;
        text-align: center;
        border-radius: 2px;
        font-size: 32px;
        letter-spacing: 1px;
        margin: 30px auto 0;
    }
}