.index-swiper-container{
  position: relative;
  width: 100%;
  display: block;
  height: 220px;
}
.index-swiper-item{
  position: relative;
  width:100%;
  height: 220px;
  .index-swiper-img{
    position: relative;
    display: block;
    width: 100%;
    height: 100%;
  }
  
}