@import '../../../common.scss';

.tabber-content {
  height: 150px;
  width: 100%;
  background: #FFFFFF;
}

.tabber-content-box {
  display: flex;
  align-items: center;
  justify-content: space-between;
  border-bottom: 1px solid rgba(238, 238, 238, 1);
  background-color: #fff;
  padding: 20px 27px 20px 35px;
  font-size: 30px;
}

.tabber-content-box-numBox {
  display: flex;
  flex-direction: row;
  font-size: 30px;
  margin-top: 20px;
  background-color: #fff;
}

.tabber-content-box-numBox-num {
  display: inline-block;
  margin-left: 15px;
}

.tabber-content-box-num-color {
  color: $color
}

.tabber-content-box-selector-text {
  width: 95px;
  height: 23px;
  font-weight: 400;
  color: rgba(79, 79, 79, 1);
}

.tabber-content-box-selector {
  background: #F6F6F6;
  color: #4F4F4F;
  padding: 6px 4px 6px 14px;
  border-radius: 6px;
}

.tabber-content-box-time-text {
  width: 121px;
  height: 25px;
  font-weight: 500;
  color: rgba(48, 48, 48, 1);
}

.tabber-content-box-time-img {
  width: 38px;
  height: 34px;
  vertical-align: middle;
}

.tabber-content-box-selector-img {
  width: 38px;
  height: 34px;
  vertical-align: middle;
}

.integral-content {
  position: relative;
  padding-left: 80px;
  padding-right: 20px;

  .integral-list {
    position: relative;
    background-color: white;
    height: 200px;
    margin-top: 15px;
    border-radius: 5px;
    @include shadow(10px);

    .integral-list-time {
      position: absolute;
      width: 120px;
      height: 120px;
      background-color: $color;
      padding: 10px 0;
      border-radius: 5px;
      color: white;
      left: -60px;
      top: 40px;
      line-height: 50px;
      text-align: center;

      .integral-time-year {
        font-size: 26px;
        display: block;
      }

      .integral-time-day {
        font-size: 28px;
        display: block;
      }
    }

    .integral-list-item {
      position: relative;
      padding: 10px;
      padding-left: 80px;
      padding-right: 20px;
      position: relative;
      display: block;
      line-height: 60px;
      color: #333;

      .integral-list-title {
        font-size: 32px;
      }

      .integral-list-words {
        font-size: 30px;
      }

      .integral-item-time {
        font-size: 30px;

        text {
          float: right;
          font-size: 30px;
          color: #fd4040;
        }
      }
    }
  }
}

.tabber-Modal {
  position: fixed;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  background: rgba(0, 0, 0, 0.3);
  z-index: 5;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

.tabber-Modal-content {
  position: relative;
  width: 90%;
  background: white;
  border-radius: 10px 10px 5px 5px;
  box-shadow: #e7e6e4 0 0 10px;
  font-size: 30px;
}

.tabber-Modal-content-scroll {
  overflow-y: scroll;
  width: 100%;
  height: 100%;
  padding: 35px 32px 15px 32px;
}

.Modal-content-row {
  border-bottom: 1px solid #EEEEEE;
  padding-top: 30px;
  padding-bottom: 25px;

  &:last-child {
    border: none;
  }
}

.Modal-content-box {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.clear {
  clear: both;
}

.tabber-Modal-content-flexBox-classifyName-data {
  margin-right: 10px;
}

.tabber-Modal-content-flexBox-last {
  padding: 30px;
  display: flex;
  justify-content: space-between;
}

.content-left {
  margin-bottom: 20px;
  font-weight: 500;
  color: #333333;
}

.content-right {
  color: $color;
  display: flex;
  justify-content: space-between;
}

.content-right-work {
  justify-content: flex-start;
  flex-wrap: wrap;
}

.content-right-item {
  margin-left: 18px;
}

.Modal-content-row .content-left {
  margin-bottom: 20px;
}

.Modal-content-box .content-left {
  margin-bottom: 0;
}

.content-gray {
  color: #808080;
}

.tabber-Modal-content-close {
  position: absolute;
  width: 100px;
  height: 100px;
  left: 50%;
  transform: translate(-50%, -50%);
  background: url("http://cdn.yupao.com/miniprogram/images/expend-close.png") no-repeat;
  background-size: 100% 100%;
}

.tabber-Modal-content-flexBox-phone {
  display: inline - block;
  color: #fff;
  padding: 12px 30px;
  font-size: 26px;
  border-radius: 8px;
  background: #67C23A;
}

.tabber-Modal-content-flexBox-complaint {
  display: inline - block;
  color: #fff;
  padding: 12px 30px;
  font-size: 26px;
  border-radius: 8px;
  background: #ff0000;
  margin-left: 20px;
}

.integral-noData {
  position: relative;
  width: 100%;
  padding: 20px 0;
  text-align: center;
  font-size: 26px;
  color: #525252;
}

.integral-tab {
  width: 100%;
  height: 100px;
  display: flex;
  border-bottom: 1px solid #EEEEEE;

  .tab-item {
    width: 50%;
    height: 100%;
    line-height: 100px;
    text-align: center;

    &:first-child {
      border-right: 1px solid #EEEEEE;

    }

    .tab-item-text {
      position: relative;
      display: inline-block;
      font-size: 30px;
    }

    .tab-item-text-active {
      color: $color;

      ::after {
        position: absolute;
        content: "";
        display: inline-block;
        width: 40%;
        height: 10px;
        background-color: #0099FF;
        bottom: 18px;
        margin-left: -50%;
        transform: translateX(-50%);
        border-radius: 10px;
      }
    }
  }
}

.integral-list-container {
  position: relative;
  width: 100%;
  background: white;

  .integral-list-item {
    position: relative;
    width: 100%;
    padding-top: 25px;
  }

  .item-container {
    padding: 0 27px;
    display: flex;
  }

  .integral-list-time {
    position: absolute;
    width: 120px;
    height: 120px;
    background: #0099ff;
    left: -60px;
    top: 40px;
    padding: 10px 0;
    border-radius: 6px;
  }

  .icon-bor {
    width: 60px;
    height: 60px;
    margin-right: 25px;
  }

  .icon {
    width: 60px;
    height: 60px;
    border-radius: 50%;
  }

  .integral-list-time text {
    position: relative;
    display: block;
    text-align: center;
    line-height: 50px;
  }

  .integral-list-time text:nth-child(1) {
    color: white;
    font-size: 26px;
  }

  .integral-list-time text:nth-child(2) {
    color: white;
    font-size: 34px;
  }

  .integral-list-words {
    position: relative;
    width: 610px;
    border-bottom: 1px solid #E6E6E6;
  }

  .integral-list-item:last-child .integral-list-words {
    border: none;
  }

  .integral-list-words .integral-list-title {
    font-size: 30px;
    font-weight: bold;
    color: #262629;
  }

  .integral-list-words .integral-list-info {
    margin: 24px 0;
    font-size: 26px;
    color: #262629;
  }

  .integral-list-lasttime {
    font-size: 26px;
    color: #9F9F9F;
    margin-bottom: 24px;
  }

  .tips {
    position: absolute;
    right: 0;
    top: 0;
    font-size: 26px;
    font-weight: 500;
    color: #FFB040;
  }
}
