@import '../../../common.scss';

.recruit-condition-box{
  position: relative;
  width: 100%;
  background-color: white;
  z-index: 100;
  // border-bottom: 1px solid $bordercolor;
  @include flex();
  .recruit-condition-item{
    position: relative;
    flex: 1;
    padding: 0 10px;
    @include flex();
    overflow: hidden;
    .recruit-condition-content{
      position: relative;
      padding-right: 50px;
      font-size: 30px;
      line-height: 80px;
      .recruit-condition-select{
        position: absolute;
        display: block;
        width: 24px;
        height: 22px;
        top: 30px;
        right: 15px;
      }
    }
  }
}

.common-drawer-item{
  position: relative;
  width: 100%;
  height: 100%;
  .drawer-full-lists{
    position: fixed;
    width: 100%;
    left: 0;
    top: 0;
    height: 100%;
    background-color: white;
    .drawer-list-item{
      position: relative;
      line-height: 90px;
      padding: 0 20px;
      font-size: 28px;
      border-bottom: 1px solid $bordercolor;
    }
    .drawer-list-item-active{
      color: $color;
    }
  }
  .drawer-half-lists{
    width: 50%;
    left: 50%;
    border-left:1px solid  $bordercolor;
    z-index: 5;
  }
}