@import '../../app.scss';

$height: 180px;

.recruit-container{
  position: relative;
  width: 100%;
  .recruit-fiexd-header{
    position: fixed;
    z-index: 500;
    width: 100%;
    left: 0;
    top: 0;
  }
  .recruit-lists-containerbox{
    position: fixed;
    width: 100%;
    left: 0;
    top:$height;
    height: calc(100% - 180px);
    z-index: 3;
  }
}