.projectList{
  overflow-y: scroll;
}
.skilleight {
  width: 93%;
  margin: 0 auto;
  background-color: white;
  margin-top: 22px;
  position: relative;
  padding-bottom: 10px;
}
.audit {
  display: inline-block;
  width: 113px;
  height: 113px;
  position: absolute;
  top: 0;
  left: 0;
}

.editor {
  font-size: 30px;
  color: #09f;
  position: absolute;
  top: 29px;
  right: 29px;
}

.editorone {
  font-size: 30px;
  color: #FB2A08;
  position: absolute;
  top: 29px;
  right: 29px;
}

.skilleightzong {
  margin-top: 18px;
  display: flex;
  flex-direction: row;
}

.skilleightone {
  margin: 0;
  padding: 0;
  width: 20px;
  height: 20px;
  margin-left: 20px;
  margin-top: 20px;
}
.skilleightall {
  width: 90%;
  margin-left: 14px;
}
.project {
  font-size: 0px;
  color: #343434;
  margin-top: 10px;

}
.project-text {
  font-size: 30px;
  font-weight: bold;
}

.skilleighttwo-title{
  color: #343434;
}
.skilleighttwo {
  color: #8b8b8a;
  font-size: 30px;
  margin-top: 8px;
}
.skilleighttwo-text:last-child {
  font-size: 30px;
  line-height: 26px;
  color: #8b8b8a;
  margin-left: 14px;
}
.description {
  font-size: 0px;
  margin-top: 16px;
  color: #8b8b8a;
  margin-bottom: 12px;
  width: 100%;
  word-wrap: break-word;
  word-break: break-all;
}
.description-text {
  font-size: 30px;
}
.skilleightfive {
  margin-bottom: 20px;
}
.skilleightfive-image {
  width: 185px;
  height: 185px;
  width: 30%;
  margin: 0 1.5%;
}

.skilleightfiveline {
  width: 100%;
}
.temimage {
  display: flex;
  flex-wrap: wrap;
}

.resson {
  font-size: 26px;
  margin-top: 10px;
  color: #FB2A08;
  margin-bottom: 18px;
}
.footer-box{
  position: relative;
  width: 100%;
  height: 100px;
  margin-top: 50px;
}
.footer{
  margin: auto;
  width: 350px;
  background: #09f;
  text-align: center;
  line-height: 60px;
  font-size: 32px;
  color: white;
}