@import '../../../common.scss';

.region{
  .region-top {
    position: fixed;
    top: 0;
    left: 0;
    z-index: 10;
    width: 100%;
    .region-heard{
      width: 100%;
      height: 100px;
      background: #FFFFFF;
      .region-heard-seach{
        display: flex;
        padding-top: 12px;
        .region-heard-seach-input{
          width: 622px;
          height: 77px;
          background: #F5F5F5;
          border-radius: 6px;
          font-size: 28px;
          margin-left: 28px;
          padding-left: 10px;
        }
        .region-heard-seach-btn{
          font-size: 28px;
          margin-left: 17px;
          color: rgba(153, 153, 153, 1);
          padding-top: 20px;
        }
      }
    }
    .region-top-tips{
      padding-top: 34px;
      background: rgba(247, 246, 249, 1);
      font-size: 30px;
      font-weight: bold;
      padding-left: 30px;
      padding-bottom: 20px;
    }
  }
  .region-content{
    margin-bottom: 200px;
    .region-content-hotCity-content-title{
      color: rgba(32, 32, 33, 1);
      font-size: 28px;
      margin-left: 23px;
      font-weight: bold;
    }
    font-size: 36px;
    color: rgba(105, 105, 105, 1);
    font-weight: normal;
    margin-top: 200px;
    .region-content-hotCity-content{
      display: flex;
      flex-flow: wrap;
      .region-content-hotCity-content-list{
        position: relative;
        width: 194px;
        height: 86px;
        line-height: 86px;
        color: rgba(111, 111, 111, 1);
        font-size: 36px;
        font-weight: normal;
        background: #FFFFFF;
        border-radius: 5px;
        text-align: center;
        margin: 28px 28px 0px 28px;
        .region-content-hotCity-content-list-img{
          position: absolute;
          width: 21px;
          height: 25px;
          left: 9px;
          top: 5px;
        }
      }
      .region-content-hotCity-content-list-click {
        position: relative;
        width: 194px;
        height: 86px;
        line-height: 86px;
        color: #FFFFFF;
        font-size: 36px;
        font-weight: normal;
        background: $color;
        border-radius: 5px;
        text-align: center;
        margin: 28px 28px 0px 28px;

        .region-content-hotCity-content-list-img {
          position: absolute;
          width: 21px;
          height: 25px;
          left: 9px;
          top: 5px;
        }
      }
    }
    .region-content-allCity-tips{
      font-size: 28px;
      color: rgba(32, 32, 33, 1);
      font-weight: bold;
      margin-left: 23px;
      margin-top: 30px;
    }
    .region-content-allCity-box{
      display: flex;
      flex-wrap: wrap;
      margin-bottom: 28px;
      .region-content-allCity-box-list{
        position: relative;
        width: 194px;
        height: 86px;
        line-height: 86px;
        color: rgba(111, 111, 111, 1);
        font-size: 36px;
        font-weight: normal;
        background: #FFFFFF;
        border-radius: 5px;
        text-align: center;
        margin: 28px 28px 0px 28px;
        .region-content-allCity-box-list-img {
          position: absolute;
          width: 21px;
          height: 25px;
          left: 9px;
          top: 5px;
        }
      }
      .region-content-allCity-box-list-click {
        position: relative;
        width: 194px;
        height: 86px;
        line-height: 86px;
        color: #FFFFFF;
        font-size: 36px;
        font-weight: normal;
        background: $color;
        border-radius: 5px;
        text-align: center;
        margin: 28px 28px 0px 28px;
        .region-content-allCity-box-list-img {
          position: absolute;
          width: 21px;
          height: 25px;
          left: 9px;
          top: 5px;
        }
      }
    }
    .region-content-box{
      width: 100%;
      position: fixed;
      left: 0;
      bottom: 60px;
      z-index: 10;
      .region-content-box-btn{
        margin: 0 auto;
        width: 518px;
        height: 97px;
        line-height: 97px;
        text-align: center;
        color: #FFFFFF;
        background: $color;
        border-radius: 10px;
      }
    }
  }
  .regin-hight{
    height: 100px;
  }
  .regin-hight100vh {
    height: 100vh;
  }
  .region-seachContent{
    margin: auto;
    width: 100%;
    background: #FFFFFF;
    .region-heard{
      width: 100%;
      height: 100px;
      background: #FFFFFF;
      .region-seachContent-seach{
          display: flex;
          padding-top: 12px;
          .region-seachContent-seach-input {
            width: 622px;
            height: 77px;
            background: #F5F5F5;
            border-radius: 6px;
            font-size: 28px;
            margin-left: 28px;
            padding-left: 10px;
          }
          .region-seachContent-seach-btn {
            font-size: 28px;
            margin-left: 17px;
            color: rgba(153, 153, 153, 1);
            padding-top: 20px;
        }
      }
      .region-seachContent-seach-history{
        width: 100%;
        font-size: 28px;
        padding: 25px 20px;
        .region-seachContent-seach-history-flex{
          display: flex;
          justify-content: space-between;
          .region-seachContent-seach-history-img{
            height: 30px;
            width: 30px;
            background-size: cover;
            margin-right: 6px;
          }
        }
        .region-seachContent-seach-history-flex-box{
          display: flex;
          flex-wrap: wrap;
          .region-seachContent-seach-history-flex-box-list{
            width: 191px;
            height: 74px;
            background: #F5F5F5;
            border-radius: 5px;
            color: rgba(111, 111, 111, 1);
            font-size: 36px;
            text-align: center;
            line-height: 74px;
            margin-top: 30px;
            margin-right: 23px;
          }
        }
      }
    }
    .region-seachContent-noContent{
      text-align: center;
      font-size: 28px;
      font-weight: bold;
      margin-top: 50%;
    }
    .region-seachContent-seach-seachList{
      background: #FFFFFF;
      .region-seachContent-seach-seachList-list {
        padding: 0 20px;
        line-height: 80px;
        border-bottom: 1px solid #dcdcdc;
        font-size: 28px;
      }
      .region-seachContent-seach-seachList-list:last-child {
        padding: 0 20px;
        line-height: 80px;
        font-size: 28px;
      }
    }
  }
}