@import '../add_info/index.scss';

.resume-member-tags-tips{
  font-weight: bold;
  font-size: 26px;
  color: #343434;
  line-height: 65px;
}
.resume-member-tags{
  position: relative;
  padding: 20px 0 30px;
  .resume-member-tag-item{
    position: relative;
    width: 25%;
    float: left;
    @include flex();
    padding: 0 10px;
    margin-bottom: 20px;
    .resume-tag-text{
      position: relative;
      font-size: 26px;
      display: block;
      line-height: 65px;
      border-radius: 20PX;
      width: 100%;
      text-align: center;
      border: 1px solid $bordercolor;
    }
  }
}