.feedback-content-middle {
  margin: 20px;
}
.feedback-content-middle-box {
  padding: 20px;
  background: #fff;
}
.feedback-content-middle-textarea {
background:rgba(246, 246, 246, 1);
  border: none;
  border-radius: 0px;
}

.feedback-content-middle-imgBox {
background:rgba(246, 246, 246, 1);
  min-height: 200px;
}
.feedback-content-middle-from {
  margin: 30px 20px;
}

.feedback-content-button {
  position: relative;
  width: 95%;
  height: 100px;
  line-height: 100px;
  background: #09f;
  text-align: center;
  display: block;
  color: white;
  font-size: 30px;
  letter-spacing: 2px;
  margin: 15px auto 0;
  border-radius: 5px;
}
.at-input{
  margin-left: 0px;
  padding: 20px;
}
.feedback-content-code{
  text-align: center;
  padding: 5px;
  width: 190px;
  background: #09f;
  color: white;
  font-size: 24px;
}