@import '../../../common.scss';

.publish-recruit-container{
  position: relative;
  padding: 20px;
  .publish-recruit-card{
    position: relative;
    width: 100%;
    padding: 10px 20px;
    border-radius: 10px;
    background-color: white;
    margin-bottom: 15px;
    @include shadow();
    .publish-list-item{
      position: relative;
      width: 100%;
      min-height: 110px;
      padding: 15px 0;
      padding-left: 180px;
      border-bottom: 1px solid #dcdcdc;
      .pulish-list-title{
        position: absolute;
        width: 140px;
        left: 0;
        top: 15px;
        display: block;
        text-align: justify;
        line-height: 80px;
        font-weight: bold;
        font-size: 30px;
        &::after{
          @include text-justify();
        }
      }
      .publish-list-input{
        position: relative;
        padding: $miniPublishInputPadding 0;
        width: 100%;
        line-height: 45px;
        min-height: 80px;
        display: block;
        font-size: 30px;
        .publish-input-list{
          position: relative;
          display: inline-block;
          margin-right: 20px;
          &:nth-last-child(1){
            margin-right: 0;
          }
        }
      }
      .publish-list-text{
        padding: 20px 0;
      }
    }
    .publish-list-item-code{
      .publish-list-input{
        padding-right: 300px;
      }
      .publish-code-btn{
        position: absolute;
        line-height: 70px;
        border-radius: 10px;
        background-color: $color;
        color: white;
        font-size: 28px;
        text-align: center;
        right: 0;
        top: 20px;
        width: 250px;
      }
    }
    .publish-list-textarea{
      position: relative;
      padding-top: 25px;
      .publish-textarea-title{
        position: relative;
        font-size: 30px;
        font-weight: bold;
        text-align: justify;
        display: block;
        width: 140px;
        height: 60px;
        &::after{
          @include text-justify();
        }
      }
      .publish-textarea{
        position: relative;
        width: 100%;
        display: block;
        height: 200px;
        font-size: 30px;
        line-height: 40px;
        padding-bottom: 60px;
      }
    }
    .publish-upload-header{
      position: relative;
      .publish-upload-title{
        position: relative;
        text-align: center;
        padding: 20px 0;
        border-bottom: 1px dashed #dcdcdc;
        .publish-upload-red{
          position: relative;
          padding-right: 60px;
          color: #333;
          font-size: 34px;
          display: inline-block;
          .publish-upload-wbg{
            position: absolute;
            top: 2px;
            right: 10px;
            display: inline-block;
            width: 40px;
            height: 40px;
            background: url("http://cdn.yupao.com/miniprogram/images/upload-bg.png") no-repeat;
            background-size: 100% 100%;
            .publish-upload-ibg{
              position: absolute;
              display: block;
              width: 16px;
              height: 16px;
              bottom: 10px;
              left: 12px;
              background: url("http://cdn.yupao.com/miniprogram/images/upload-down.png") no-repeat;
              background-size: 100% 100%;
              transform-origin: center;
              transition: 0.5s;
            }
          }
        }
        .publish-upload-smtips{
          color: #ff0000;
          font-size: 34px;
        }
      }
      .publish-upload-tips{
        font-size: 26px;
        padding: 15px 0;
        color: #999999;
        text-align: center;
      }
    }
  }
  .publish-recruit-btn{
    position: relative;
    width: 70%;
    line-height: 85px;
    background-color: $color;
    color: white;
    text-align: center;
    margin: 30px auto;
    font-size: 30px;
    border-radius: 3px;
  }
}