.resume-container{
  position: relative;
  .resume-tips-header{
    position: relative;
    height: 80px;
    background-color: white;
    text-align: center;
    line-height: 80px;
    font-weight: bold;
    color: #343434;
    font-size: 28px;
  }
  .resume-content{
    padding-bottom: 140px;
    .content-progress{
      padding: 20px 44px;
      margin: 20px 0;
      background-color: #FFFFFF;
      .progress-header{
        display: flex;
        justify-content: space-between;
        margin-bottom: 28px;
      }
      .progress-Improve{
        display: inline-block;
        font-weight: bold;
        font-size: 30px;
        color: #343434;
      }
      .progresser{
        display: inline-block;
        margin-left: 48px;
        width: 286px;
        .at-progress__content{
          font-size: 28px;
          color: #F87A14;
        }
      }
      .progress-txt{
        margin-top: 22px;
        font-size: 26px;
        color: #0099FF;
      }
      .progress-num{
        text-align: center;
        font-size: 32px;
        font-weight: bold;
        color: #0099FF;
      }
      .progress-viewed{
        margin-top: 22px;
        font-size: 26px;
        color: #626160;
      }
      .progress-footer{
        display: flex;
        justify-content: space-between;
        padding-top: 18px;
        border-top: 2px dotted #DCDCDC;
        Image{
          display: inline-block;
          width: 20px;
          height: 24px;
          vertical-align: -2px;
        }
      }
      .progress-text{
        display: inline-block;
        margin-left: 15px;
        font-size: 24px;
        font-weight: bold;
        color: #6F6C6C;
        View{
          display: inline-block;
        }
      }
      .progress-rank{
        font-size: 22px;
        line-height: 44px;
        font-weight: bold;
        color: #0099FF;
      }
    }
    .content-basic-imformation,
    .content-personal-information,
    .content-project-experience,
    .content-professional-skill{
      margin: 20px 0;
      .basic-imformation{
        margin: 20px 0;
        text-align: center;
        position: relative;
        Image{
          display: inline-block;
          width: 20px;
          height: 24px;
          vertical-align: -2px;
        }
        .basic-title{
          display: inline-block;
          margin-left: 11px;
          font-size: 26px;
          font-weight: bold;
          color: #343434;
        }
        .change{
          position: absolute;
          top: 6px;
          right: 44px;
          font-size: 26px;
          font-weight: bold;
          color: #0099FF;
        }
      }
      .basic-status{
        position: relative;
        display: flex;
        justify-content: space-between;
        padding: 40px 44px;
        margin: 20px 0;
        font-size: 26px;
        background-color: #FFFFFF;
        &::before,
        &::after{
          content: '';
          position: absolute;
          bottom: -18px;
          width: 6px;
          height: 28px;
          background-color: #0099FF;
          border-radius: 3px;
        }
        &::after{
          right: 44px;
        }
        &::before{
          left: 44px;
        }
        .status-txt{
          color: #161616;
        }
        Image{
          width: 25px;
          height: 24px;
          margin-right: 25px;
          vertical-align: -2px;
        }
        .status{
          color: #FF4D42;
        }
      }
      .basic-content,
      .project-information,
      .professional-information{
        padding: 20px 44px;
        text-align: center;
        background-color:  #FFFFFF;
        .basic-txt{
          margin-bottom: 28px;
          font-size: 22px;
          color: #828181;
        }
        .basic-btn Button{
          display: inline-block;
          padding: 9px 32px;
          border-radius: 32px;
          vertical-align: middle;
          background-color: #0099FF;
          font-size: 26px;
          line-height: 46px;
          color: #FFFFFF;
        }
        .content-information{
          display: flex;
          justify-content: space-between;
          .information{
            max-width: 88%;
            text-align: left;
            Image{
              display: inline-block;
              width: 77px;
              height: 77px;
              border-radius: 50%;
              background-color: #0099FF;
            }
            &>.infor{
              display: inline-block;
              margin-left: 40px;
            }
            .name{
              font-size: 28px;
              font-weight: bold;
              color: #343434;
            }
            .sexage{
              margin-top: 20px;
              font-weight: bold;
              font-size: 26px;
              color: #6C6B6B;
            }
          }
          .change{
            font-size: 26px;
            font-weight: bold;
            color: #0099FF;
          }
        }
        .content{
          position: relative;
          &::before{
            position: absolute;
            content: '';
            left: 0;
            width: 2px;
            top: -18px;
            height: 260px;
            background: #f2f2f2;
          }
          .craft{
            position: relative;
            text-align: left;
            margin: 26px 0;
            font-size: 24px;
            padding-left: 14px;
            &::before{
              content: '';
              position: absolute;
              width: 14px;
              height: 14px;
              background-color: #0099FF;
              background: url('http://cdn.yupao.com/newyupao/images/newjobinfo-steps.png');
              background-size: cover;
              left: -6px;
              top: calc(50% - 6px);
            }
            &>View{
              display: inline-block;
            }
            .craft-txt{
              width: 110px;
              text-align: justify;
              color: #7A7A7A;
              margin-right: 23px;
            }
            .craft-text{
              color: #7A7A7A;
            }
            .craft-name{
              padding: 7px 25px;
              color: #414141;
              background-color: #E7E7E7;
            }
          }
          .introduce{
            text-align: left;
            font-size: 24px;
            color: #797979;
            padding-left: 14px;
          }
        }
      }
      .check-fail{
        font-size: 24px;
        padding: 21px 44px 21px 58px;
        background-color: #FFFBF7;
        &>View{
          display: inline-block;
          color: #FA0819;
        }
      }
    }
    .content-personal-information{
      .basic-content{
        .content{
          &::before{
            height: 360px;
          }
        }
        .content .craft:first-child{
          margin-top: 0;
        }
        .content .craft:last-child{
          margin-bottom: 0;
        }
      }
    }
    .content-project-experience,
    .content-professional-skill{
      .project-information,.professional-information{
        position: relative;
        &::before{
          content: '';
          width: 100px;
          height: 100px;
          position: absolute;
          top: 0;
          left: 0;
          background-image: url('http://cdn.yupao.com/newyupao/images/newresume-status-nopass.png');
          background-size: cover;
        }
        .content-information{
          .information .name{
            font-size: 26px;
          }
          .information .sexage{
            font-size: 22px;
          }
          .information .time{
            margin-top: 0;
            margin-left: 50px;
          }
        }
      }
      .project-content{
        .content-img{
          display: flex;
          flex-wrap: wrap;
          justify-content: space-between;
          Image{
            width: 185px;
            height: 185px;
            margin: 25px 0;
          }
        }
        .project-failtxt{
          margin-bottom: 10px;
          text-align: left;
          font-size: 22px;
          color: #FE1901;
        }
      }
      .change-project{
        text-align: center;
        Button{
          display: inline-block;
          padding: 10px 44px;
          color: #FFFFFF;
          font-size: 26px;
          line-height: 36px;
          background-color: #0099FF;
        }
        .nabla{
          display: inline-block;
          width: 0;
          height: 0;
          // margin-left: 16px;
          border-right: 15px solid transparent;
          border-left: 15px solid transparent;
          border-top: 15px solid rgba(255, 255, 255, 1);
        }
      }
    }
    .content-professional-skill{
      .professional-information{
        .content-information{
          align-items: baseline;
        }
        .content-information .information>View{
          display: inline-block;
        }
      }
    }
    .content-btn{
      display: flex;
      margin-top: 83px;
      background-color: #FFFFFF;
      .preview-btn,.share-btn{
        width: 50%;
        padding: 29px 0;
        border-top: 2px solid rgba(99, 98, 105, 0.22);
        text-align: center;
        font-size: 36px;
        color: #7D7D7D;
        &>View{
          display: inline-block;
        }
        Image{
          display: inline-block;
          width: 36px;
          height: 36px;
          vertical-align: -6px;
          margin-right: 15px;
        }
      }
      .preview-btn{
        border-right: 1px solid rgba(99, 98, 105, 0.22);
      }
      .share-btn{
        border-left: 1px solid rgba(99, 98, 105, 0.22);
      }
    }
  }
}