.resume-container{
  position: relative;
  .resume-tips-header{
    position: relative;
    background-color: white;
    text-align: center;
    line-height: 100px;
    font-weight: bold;
    color: #343434;
    font-size: 28px;
  }
}