@import '../../../style/publish.scss';
.userchangephone-container{
  position: relative;
  .userchangephone-body{
    background: white;
    padding: 0 20px;
    .publish-list-item:nth-last-child(1){
      border-bottom: 0;
    }
  }
}