@import '../../common.scss';

.recharge-container{
  position: relative;
  padding: $margin 20px;
  .recharge-header{
    position: relative;
    background-color: white;
    padding: 20px;
    border-radius: 5px;
    @include shadow();
    .recharge-info-item{
      line-height: 60px;
      font-size: 28px;
      color: #333;
      .recharge-info-text{
        color: $color;
      }
    }
  }
  .recharge-body{
    position: relative;
    margin-top: $margin;
    background-color: white;
    padding: 20px;
    @include shadow();
    .recharge-title{
      line-height: 60px;
      font-size: 28px;
    }
    .recharge-content{
      position: relative;
      .recharge-list{
        position: relative;
        padding: 10px;
        display: block;
        width: 33.333%;
        float: left;
        .recharge-list-box{
          position: relative;
          width: 100%;
          padding: 10px;
          border: 1px solid #dcdcdc;
          background-color: white;
          border-radius: 5px;
          .recharge-money,.recharge-num{
            line-height: 50px;
            font-size: 28px;
            text-align: center;
            color: #333;
          }
          .recharge-num{
            color: #adadad;
          }
        }
        .recharge-list-box-active{
          background-color: $color;
          .recharge-money,.recharge-num{
            color: white;
          }
        }
      }
    }
  }
  .recharge-btn{
    position: relative;
    line-height: 80px;
    text-align: center;
    background-color: $color;
    color: white;
    width: 80%;
    margin: 40px auto 30px;
    border-radius: 5px;
  }
}