.rank-rules {
  padding-top: 192px;

  .header {
    background-color: white;
    position: fixed;
    width: 100%;
    top: 0;
    padding: 20px 32px;
    border-bottom: 1px solid rgb(233, 232, 232);
    z-index: 2;

    .header-point {
      padding-bottom: 10px;

      .point-text {
        font-size: 32px;

        &:last-child {
          color: #0099ff;
          font-weight: bold;
        }
      }
    }

    .header-detail {
      color: #f87a14;

      .detail-text {
        font-size: 30px;
      }
    }
  }

  .rank-list {
    background-color: white;
    overflow: hidden;

    .rank-item {
      width: 94%;
      border-bottom: 1px dashed rgb(209, 209, 209);
      padding: 26px 0;
      margin: 0 auto;
      display: flex;
      align-items: center;
      justify-content: space-between;

      &:last-child {
        border: none;
      }

      .item-info-box {
        flex: 1;
        display: flex;
        align-items: center;
        margin-right: 14px;

        .info-img-bor {
          width: 80px;
          height: 80px;
          margin-right: 14px;

          .info-img {
            display: block;
            width: 80px;
            height: 80px;
          }
        }

        .infos {
          .info-name {
            font-size: 30px;
          }

          .info-dec {
            font-size: 28px;
            color: #999999;
            line-height: 35px;
          }
        }
      }

      .item-btn {
        width: 150px;
        min-width: 150px;
        line-height: 33px;
        background: #0099ff;
        color: white;
        font-size: 30px;
        padding: 12px 0;
        //line-height: 40px;
        border-radius: 12px;
        text-align: center;
      }
    }
  }

  .rank-tips {
    background: white;
    margin-top: 14px;
    margin-bottom: 80px;
    padding: 20px 50px;

    .tips-title {
      font-size: 32px;
      margin-bottom: 12px;
    }

    .tips-content {
      font-size: 30px;
      color: #999999;
      text-align: justify;
    }
  }
}

.error-page {
  position: absolute;
  z-index: 1;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);

  .error-img-bor {
    margin: 0 auto;
    width: 200px;
    height: 200px;

    .error-img {
      width: 200px;
      height: 200px;
    }
  }

  .error-text {
    font-size: 32px;
    line-height: 100px;
    white-space: nowrap;

    .reload-text {
      color: #0099ff;
    }
  }
}
