
.rank-rules {
  padding-top: 175px;

  .header {
    background-color: white;
    position: fixed;
    width: 100%;
    top: 0;
    padding: 22px 43px 20px 33px;
    border-bottom: 1px solid rgb(233, 232, 232);
    z-index: 2;

    .header-point {
      margin-bottom: 17px;
      height: 35px;
      line-height: 35px;
      font-size: 30px;
      font-weight: 500;

      .point-text {
        color: #656668;

        &:last-child {
          color: #0099FF;
        }
      }
    }

    .header-detail {
      font-size: 28px;
      color: #FF7E00;

    }
  }

  .rank-list {
    background-color: white;
    overflow: hidden;

    .rank-item {
      border-bottom: 1px dashed rgb(209, 209, 209);
      padding: 25px 32px;
      margin: 0 auto;
      display: flex;
      align-items: center;
      justify-content: space-between;

      &:last-child {
        border: none;
      }

      .item-info-box {
        flex: 1;
        display: flex;
        align-items: center;
        margin-right: 14px;

        .info-img-bor {
          width: 82px;
          height: 82px;
          margin-right: 21px;

          .info-img {
            display: block;
            width: 80px;
            height: 80px;
          }
        }

        .infos {
          .info-name {
            font-size: 28px;
            color: #333333;
          }

          .info-dec {
            font-size: 26px;
            color: #999999;
          }
        }
      }

      .ranking-obtngray {
        background: #D2D2D4;
        width: 120px;
        height: 50px;
        line-height: 50px;
        text-align: center;
        padding: 0;
        box-shadow: 0 2px 2px 0 rgba(141, 204, 246, 0.51);
        border-radius: 8px;
        font-size: 26px;
        color: #FFFFFF;
      }

      .item-btn {
        width: 120px;
        height: 50px;
        line-height: 50px;
        text-align: center;
        padding: 0;
        background: #0099FF;
        box-shadow: 0 2px 2px 0 rgba(141, 204, 246, 0.51);
        border-radius: 8px;
        font-size: 26px;
        color: #FFFFFF;
      }
    }
  }

  .rank-tips {
    background: white;
    margin-top: 14px;
    margin-bottom: 125px;
    padding: 25px 40px 32px 50px;

    .tips-title {
      font-size: 28px;
      color: #333333;
      margin-bottom: 20px;
    }

    .tips-content {
      font-size: 26px;
      color: #999999;
      line-height: 34px;
      text-align: justify;
    }
  }
}

.error-page {
  position: absolute;
  z-index: 1;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);

  .error-img-bor {
    margin: 0 auto;
    width: 200px;
    height: 200px;

    .error-img {
      width: 200px;
      height: 200px;
    }
  }

  .error-text {
    font-size: 32px;
    line-height: 100px;
    white-space: nowrap;

    .reload-text {
      color: #0099ff;
    }
  }
}
