@import '../../../common.scss';

.resumeDetail{
  overflow-y: scroll;
}
.resumeDetail-basics{
  background: white;
  padding: 20px 7%;
}
.resumeDetail-basics-heard{
  display: flex;
}
.resumeDetail-basics-heard-img{
  height: 98px;
  width: 98px;
  border-radius: 50%;
  margin-right: 40px;
}

.resumeDetail-cardcolore {
  background: white;
  position: relative;
  box-shadow: 0 0 1px #e7e6e4;
  margin-top: 0px;
}
.resumeDetail-header {
  width: 95%;
  margin: 0 auto;
  background: white;
  font-size: 28px;
  color: #f87a14;
  text-align: center;
  line-height: 80px;
}

.resumeDetail-findingnamecardthree {
  width: 93%;
  margin-top: 18px;
  margin-bottom: 18px;
  font-size: 0;
  margin-left: 24px;
}
.resumeDetail-findingnamecardthreemobile {
  text-align: center;
  font-size: 30px;
  font-weight: bold;
  display: flex;
  justify-content: center;
  position: relative;
}
.resumeDetail-findingnamecardthreemobile-image {
  width: 27px;
  height: 29px;
}
.resumeDetail-findingnamecardthreemobile-text {
  padding: 0 16px;
}
.resumeDetail-cardcolore {
  background: white;
  position: relative;
  box-shadow: 0 0 1px #e7e6e4;
  margin-top: 0px;
}
.resumeDetail-introduce{
  width: 100%;
  margin: 0 auto;
  background: white;
  overflow: hidden;
  font-size:30px;
  color: black;
  padding: 21px 50px;
  word-break: break-all;
}
.resumeDetail-experience{
  width: 100%;
  background: white;
  padding: 0px 7% 20px 7%;
}
.resumeDetail-image{
  height: 20px;
  width: 20px;
  margin-left: 20px;
  margin-right: 20px;
  margin-top: 20px;
}
.resumeDetail-experience-content{
  margin-left: 20px;
  color: #8b8b8a;
  font-size: 30px;
  margin-top: 15px;
}
.resumeDetail-experience-title{
  font-size: 30px;
  font-weight: bold;
  padding-top: 10px;
}
.resumeDetail-experience-content-list{
  padding-bottom: 15px;
}
.resumeDetail-experience-img-box{
  display: flex;
  flex-wrap: wrap;
}
.resumeDetail-experience-img{
  width: 185px;
  height: 185px;
  margin-left: 16px;
  margin-top: 16px;
}
.resumeDetail-skill{
  width: 100%;
  background: white;
  padding: 0px 7% 20px 7%;
}
.resumeDetail-skill-image{
  width: 185px;
  height: 185px;
  margin-left: 16px;
  margin-top: 16px;
}
.resumeDetail-basics-img{
  width: 120px;
  height: 30px;
  margin-left: 14px;
}
.resumeDetail-basics-list-flex {
  display: flex;
}
.resumeDetail-basics-list-left{
  // width: 20.5%;
  // margin: 0;
  // padding: 0;
  // height: 34px;
  // display: inline-block;
  // color: #555;
  // font-size: 30px;
  // text-align:justify;
  // text-justify:inter-word;
  width: 16.5%;
  vertical-align: baseline;
}
.resumeDetail-basics-list-right{
  color: #222;
  font-size: 30px;
  margin-right: 5px;
}
.resumeDetail-basics-list-btn {
  padding: 4px 10px;
  border-radius: 6px;
  background: #09f;
  width: 60px;
  color: #fff;
  font-size: 28px;
}
.resumeDetail-basics-list-tel{
  padding: 4px 10px;
  border-radius: 6px;
  margin-right: 15px;
  background: #09f;
  color: white;
  font-size: 28px;
  // z-index: 990;
}
.resumeDetail-basics-list-report{
  padding: 4px 10px;
  border-radius: 6px;
  margin-right: 15px;
  background: red;
  margin-right: 0;
  color: white;
  font-size: 28px;
}
.resumeDetail-basics-list-right-occupations{
  color: rgba(42, 42, 42, 1);
  font-size: 28px;
  display: inline-block;
  padding: 4px 10px;
  text-align: center;
  margin-right: 17px;
  margin-bottom: 12px;
  background: rgba(238, 237, 239, 1);
  border-radius: 6px;
}

.resumeDetail-basics-list-right-labelName{
  color: #09f;
  font-size: 26px;
  display: inline-block;
  padding: 0 6px;
  text-align: center;
  margin-right: 17px;
  border-radius: 8px;
  border: 1px solid #09f;
  line-height: 40px;
}
.resumeDetail-recommend {
  width: 100%;
  margin-top: 20px;
  position: relative;
  width: 100%;
  margin-top: 20px;
}
.resumeDetail-recommend-top{
  position: relative;
  font-size: 34px;
  text-align: center;
  line-height: 80px;
  background: white;
}
.resumeDetail-recommend-top-text::after,
.resumeDetail-recommend-top-text::before {
  position: absolute;
  display: block;
  content: '';
  height: 1px;
  width: 150px;
  background: #E5E5E5;
  top: 40px;
}
.resume-list-container {
  position: relative;
  width: 100%;
  padding-bottom: 150px;
  margin-top: 8px;

  .resume-lists-noData {
    text-align: center;
    display: block;
    line-height: 100px;
    font-size: 28px;
    text-align: center;
    letter-spacing: 2px;
  }

  .resume-list-item {
    position: relative;
    width: 100%;
    padding: 20px 20px 0;
    background-color: white;
    margin-top: 15px;
    .resume-list-header {
      position: relative;
      padding-left: 120px;
      line-height: 50px;
      .resume-list-user {
        position: absolute;
        width: 100%;
        display: block;
        width: 100px;
        height: 100px;
        border-radius: 50%;
        left: 0;
      }
      .resume-list-userinfo {
        position: relative;
        .resume-list-userinfo-detail {
          .resume-userinfo-name,
          .resume-userinfo-sex {
            display: inline-block;
            font-size: 30px;
            margin-right: 15px;
          }
          .resume-userinfo-birthday {
            font-size: 30px;
            color: #FB8732;
          }
          .resume-userinfo-img {
            position: relative;
            display: inline-block;
            width: 100px;
            height: 30px;
            margin-left: 15px;
            vertical-align: middle;
          }
          .resume-userinfo-age {
            position: relative;
            color: #FB8732;
          }
        }
      }

.resume-otherinfo {
  position: relative;

  .resume-otherinfo-text {
    font-size: 28px;
    margin-right: 15px;
    color: #828586;
    &:nth-last-child(1) {
      margin-right: 0;
    }
  }
}

.resume-list-type {
  position: absolute;
  right: 20px;
  font-size: 28px;
  line-height: 50px;
  bottom: 0;
}

.resume-list-tags {
  position: relative;
  .resume-list-tags-item {
    border-radius: 5px;
    color: $color;
    border: 1px solid $color;
    font-size: 26px;
    padding: 0 10px;
    margin-right: 15px;
    line-height: 45px;

    &:nth-last-child(1) {
      margin-right: 0;
    }
  }
}
}

.resume-list-works {
  position: relative;
  margin-top: 15px;
  .resume-list-words-text {
    position: relative;
    display: inline-block;
    background-color: rgba(238, 237, 239, 1);
    color: rgba(42, 42, 42, 1);
    padding: 10px;
    font-size: 26px;
    margin-right: 15px;
    border-radius: 5px;
    margin-bottom: 10px;

    &:nth-last-child(1) {
      margin-right: 0;
    }
  }
}
    .resume-list-content {
      position: relative;
      color: #555;
      line-height: 70px;
      font-size: 28px;
      margin-top: -10px;
      border-bottom: 1px dashed $bordercolor;
    }
    .resume-list-footer {
      display: flex;
      justify-content: space-between;
      padding: 10px 0;
      .resume-list-footer-flex{
        display: flex;
        justify-items: center;
      }
      .resume-list-loc {
        display: block;
        width: 20px;
        height: 30px;
        margin: auto 10px auto 0px;
      }
      .resume-list-loctxt {
        color: #555;
        position: relative;
        padding-right: 300px;
        font-size: 28px;
        line-height: 60px;
      }
      .resume-list-time {
        display: inline-block;
        top: 10px;
        line-height: 60px;
        font-size: 26px;
        color: rgba(127, 126, 126, 1);
      }
      .resume-list-button {
        position: absolute;
        right: 0;
        top: 24px;
        background: $color;
        color: #fff;
        line-height: 40px;
        height: 40px;
        font-size: 24px;
        border-radius: 10px;
      }
    }
  }
}

.newdetail-fixedshadow {
  position: fixed;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.7);
  left: 0;
  top: 0;
  z-index: 99;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}
.newdetail-fixed-content {
  position: relative;
  background: white;
  width: 90%;
  border-radius: 5px;
}

.newdetail-tips-box {
  position: relative;
  padding: 0 30px;
}

.newdetail-tips-header {
  position: relative;
  line-height: 120px;
  font-weight: bold;
  font-size: 34px;
  color: #111;
  text-align: center;
  border-bottom: 1px solid #DDDDDD;
}

.newdetail-tips-body {
  position: relative;
  padding: 30px 0;
}

.newdetail-tips-item {
  position: relative;
  margin-bottom: 30px;
}

.newdetail-tips-item:nth-last-child(1) {
  margin-bottom: 0;
}

.newdetail-tips-title {
  position: relative;
  padding-left: 50px;
  font-size: 30px;
  font-weight: bold;
}

.newdetail-tips-title::before {
  position: absolute;
  content: '';
  display: block;
  width: 40px;
  height: 40px;
  left: 0;
  top: 0;
  background: url(http://cdn.yupao.com/miniprogram/images/usercallphone-tips.png) no-repeat;
  background-size: 100% 100%;
}

.newdetail-tips-text {
  line-height: 45px;
  color: #7C7C7C;
  padding: 10px 0;
  font-size: 28px;
}

.newdetail-tips-footer {
  position: relative;
  border-top: 1px solid #DDDDDD;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

.newdetail-footer-item {
  position: relative;
  flex: 1;
  text-align: center;
  font-size: 30px;
  color: #666666;
  line-height: 120px;
  border-right: 1px solid #DDDDDD;
}

.newdetail-footer-item:nth-last-child(1) {
  color: #0099ff;
  border-right: 0;
}

.text-nav-name {
  display: inline-block;
}
.seemore-recommend-recruit {
  background: white;
  line-height: 100px;
  margin-top: 15px;
  color: #0099ff;
  text-align: center;
  font-size: 30px;
  letter-spacing: 3px;
}
.resumeDetail-footer{
  width: 100%;
  background: white;
  height: 100px;
  display: flex;
  justify-content: space-around;
  font-size: 30px;
  color: #7d7d7d;
  position: fixed;
  bottom: 0;
  left: 0;
  box-shadow: 0 0 1px #e7e6e4;
  z-index: 5;
}
.bossimg {
  width: 35px;
  height: 30px;
  color: #7d7d7d;
  padding-right: 8px;
  margin-top:7px;
}
.resumeDetail-footer-box {
  padding-left: 0;
  padding-right: 0;
  margin: 0;
  line-height: inherit;
  margin-top: 30px;
  display: flex;
  background-color: #fff;
  border-radius: 0;
  font-size: 30px;
  color: #7d7d7d;
}
.down {
  width: 20px;
  height: 15px;
  margin: auto 5px;
}
.resumeDetail-more-box{
  width: 100%;
}
.resumeDetail-more{
  margin: 0 auto;
  text-align: center;
  padding: 0;
  width: 246px;
  background-color: #09f;
  font-size: 30px;
  color: white;
  display: flex;
  justify-content: center;
  margin-top: 14px;
  position: relative;
  border-radius: 8px;
}

.lineone{
  position: relative;
  margin-bottom: 8px;
  margin-top: 18px;
}

.cardotext{
  width: 100%;
  display: flex;
  vertical-align: baseline;
}
.cardotext .oworkotext {
  width: 20.5%;
  margin: 0;
  padding: 0;
  height: 34px;
  display: inline-block;
  color: #555;
  font-size: 30px;
  /* width: 100%; */
  /* margin-top: 14px;
  margin-bottom: 6px; */
  text-align: justify;
  position: relative;
  margin-left: 52px;
}
.cardotext .oworkotext::after {
  content: '';
  width: 100%;
  display: inline-block;
  overflow: hidden;
  height: 0;
}
.cardotext .oworkotext::before {
  content: ':';
  /* overflow: hidden; */
  height: 100%;
  width: 6px;
  position: absolute;
  right: -4px;
}
.cardotext .workotextone {
  color: #222;
  font-size: 30px;
  padding-left: 28px;
  width: 70%;
}
.workotextone-address{
  color: #222;
  font-size: 30px;
  padding-left: 28px;
  width: 50%;
}
.workotextone-noaddress{
  width: 79%;
}
.workotextone-address-img{
  margin-right: 10px;
  width: 20px;
  height: 28px;
  display: inline-block;
  position: relative;
}
// .cliok {
//   position: absolute;
//   right: 0px;
//   top: 0;
// }
.clioktel {
  position: absolute;
  right: 60px;
  top: 0;
  padding: 2px 8px;
  border-radius: 6px;
  background: #09f;
  color: #fff;
  font-size: 28px;
}
.clioktel-left {
  position: absolute;
  right: 200px;
  top: 0;
  padding: 2px 8px;
  border-radius: 6px;
  background: #09f;
  color: #fff;
  font-size: 28px;
}
.clioktelList-right {
  position: absolute;
  right: 60px;
  top: 0;
  padding: 4px 10px;
  border-radius: 6px;
  background: red;
  color: #fff;
  font-size: 28px;
}
.cworkotype {
  position: relative;
  width: 100%;
  margin-top: 12px;
  padding-left: 190px;
  min-height: 30px;
  margin-bottom: -12px;
}
.cardotext-position{
  position: relative;
  margin-top: 20px;
}
.cardotext::before {
  position: absolute;
  content: '';
  width: 25px;
  height: 25px;
  background-image: url('http://cdn.yupao.com/miniprogram/images/newjobinfo-steps.png');
  background-repeat: no-repeat;
  background-size: cover;
  left: 14px;
  margin-left: -5px;
  top: 10px;
}
.cworkotype::before {
  position: absolute;
  content: '';
  width: 25px;
  height: 25px;
  background-image: url(http://cdn.yupao.com/miniprogram/images/newjobinfo-steps.png?t=11);
  background-repeat: no-repeat;
  background-size: cover;
  left: 14px;
  margin-left: -5px;
  top: 10px;
}
.ocworkotype {
  width: 20.5%;
  left: 0;
  top: 0;
  display: inline-block;
  color: #555;
  font-size: 30px;
  text-align: justify;
  position: absolute;
  margin-left: 52px;
}
.linezo::before{
  position: absolute;
  content: '';
  left: 20px;
  top: 0;
  height: 100%;
  width: 1px;
  background-color: #e7e6e4;
  transform: scaleX(0.5);
}
.cworkotype .ocworkotypeoo {
  padding-right: 30px;
}

.cworkotype .ocworkotype::after {
  content: '';
  width: 100%;
  display: inline-block;
  overflow: hidden;
  height: 0;
}
.cworkotype .ocworkotype::before {
  content: ':';
  /* overflow: hidden; */
  height: 100%;
  width: 6px;
  position: absolute;
  right: -4px;
}
.ocworkotyp {
  position: relative;
  left: 28px;
  font-size: 0;
}

.ocworkotyp .ocworkotyptu {
  font-size: 28px;
  display: inline-block;
  padding: 4px 10px;
  text-align: center;
  margin-right: 17px;
  margin-bottom: 12px;
  border-radius: 6px;
  color: #666;
  background-color: #f7f7f7;
}

.ocworkotyp .ocworkotyptu:nth-last-child(1) {
  margin-right: 0;
}
.distancev {
  display: flex;
  font-size: 0;
  width: 70%;
}
.flex{
  display:flex;
  position: absolute;
  right: -50px;
  top: 0px;
  width: 280px;
}

.resumeDetail-basics-heard-username{
  font-size: 28px;
  font-weight: normal;
  color: #343434;
  margin-top: 10px;
}
.resumeDetail-basics-heard-content{
  font-size: 26px;
  font-weight: normal;
  color: #6C6B6B;
  margin-top: 10px;
}
.tips{
  font-size: 26px;
  color: #343434;
  font-weight: bold
}
.map-distance-info{
  position: absolute;
  font-size: 28px;
  right: -15px;
}

.see-recruit-list-btn{
  position: relative;
  margin: 20px 0;
  width: 100%;
  background-color: $color;
  color: white;
  line-height: 120px;
  text-align: center;
  font-size: 34px;
  letter-spacing: 2px;
  font-weight: bold;
  margin-bottom: 120px;
  margin-top: 150px;
}