@import "../../common.scss";

.login-container{
  position: fixed;
  width: 100%;
  height: 100%;
  background-color: white;
  .login-header{
    position: relative;
    width: 65%;
    background: #e8e8f8;
    border-radius: 50PX;
    height: 70px;
    margin: 50px auto 30px;
    font-size: 30px;
    overflow: hidden;
    .login-header-item{
      position: relative;
      line-height: 70px;
      width: 50%;
      text-align: center;
      float: left;
      color: #333;
    }
    .login-header-item-active{
      background-color: $color;
      color: white;
    }
  }
  .login-body{
    position: relative;
    width: 100%;
    padding: 20px 50px;
    .login-input-item{
      position: relative;
      margin-top: 50px;
      padding-left: 50px;
      .input-item-title{
        position: relative;
        width: 100%;
        font-size: 28px;
        color: #000;
      }
      .input-item-form{
        position: relative;
        margin-top: 20px;
        border-bottom: 1px solid #dcdcdc;
        .input-item-text{
          height: 75px;
          font-size: 28px;
        }
        .input-item-codebtn{
          position: absolute;
          background: transparent;
          font-size: 28px;
          padding: 0 20px;
          right: 0;
          bottom: 0;
          color: $color;
          z-index: 5;
          line-height: 75px;
        }
      }
    }
  }
  .login-btn{
    position: relative;
    width: 450px;
    line-height: 80px;
    margin: 50px auto;
    background: $color;
    color: white;
    text-align: center;
    border-radius: 20PX;
  }
}