@import '../../../common.scss';
.home-fastbar-container{
  position: relative;
  width: 100%;
  margin-top: -20px;
  border-radius: 16px 16px 0 0;
  background-color: white;
  padding: 10px;
  .home-fastbar-item{
    position: relative;
    width: 20%;
    height: 150px;
    padding: 10px;
    display: block;
    float: left;
    .home-fastbar-img{
      display: block;
      width: 80px;
      height: 80px;
      margin: 10px auto;
    }
    .home-fastbar-text{
      display: block;
      font-size: 26px;
      margin:10px 0;
      text-align: center;
    }
  }
}