@import '../add_info/index.scss';

.resume-add-imgsview{
  position: relative;
  padding-top: 10px;
  margin-top: 20px;
  background-color: white;
}

.resume-add-skill-footer{
  position: fixed;
  width: 100%;
  left: 0;
  bottom: 0;
  background-color: white;
  height: 120px;
  z-index: 99;
  @include flex();
  justify-content: space-around;
  .resume-add-skill-btn{
    position: relative;
    width: 45%;
    line-height: 80px;
    border: 1px solid $color;
    border-radius: 3PX;
    font-size: 30px;
    color: $color;
    text-align: center;
    &:nth-last-child(1){
      background-color: $color;
      color: white;
    }
  }
}
