@import '../../../common.scss';
.header {
  width: 93%;
  margin: 0 auto;
  background: white;
  font-size: 30px;
  color: #f87a14;
  text-align: center;
  line-height: 80px;
  margin-bottom: 20px;
}

.publish-recruit-card {
  position: relative;
  width: 93%;
  margin: 0 auto;
  background-color: white;
}
.publish-list-item {
  display: flex;
  position: relative;
  width: 90%;
  height: 125px;
  line-height: 125px;
  margin-left: 30px;
  border-bottom: 1px solid #F1F1F1;
}
.publish-list-item-sex{
  display: flex;
  position: relative;
  width: 90%;
  height: 125px;
  line-height: 125px;
  border-bottom: 1px solid #F1F1F1;
}
.pulish-list-title {
  width: 180px;
  display: block;
  text-align: justify;
  line-height: 125px;
  font-size: 30px;
  &::after {
    @include text-justify();
  }
}
.publish-list-input {
  position: relative;
  width: 100%;
  height: 125px;
  line-height: 125px;
  display: block;
  font-size: 30px;
  margin-left: 30px;
  .publish-input-list {
    position: relative;
    display: inline-block;
    margin-right: 20px;

    &:nth-last-child(1) {
      margin-right: 0;
    }
  }
}
.footer{
  width: 100%;
}
.footer-btn{
  margin: 0 auto;
  width: 521px;
  background: #108EEF;
  color: white;
  font-size: 38px;
  text-align: center;
  line-height: 97px;
  margin-top: 20px;
  margin-bottom: 42px;
}

.publish-list-ditals{
  padding: 30px;
  font-size: 30px;
}
.publish-code-btn{
  position: absolute;
  line-height: 70px;
  border-radius: 10px;
  background-color: $color;
  color: white;
  font-size: 28px;
  text-align: center;
  right: 0;
  top: 20px;
  width: 250px;
}
.pulish-list-location{
  position: absolute;
  line-height: 125px;
  right: 20px;
  top: 0px;
  color: #09f;
  font-size: 28px;
  border-left: 0px solid rgb(143, 143, 143);
  z-index: 10;
}
.publish-list-item-phone{
  display: flex;
  position: relative;
  width: 90%;
  height: 125px;
  line-height: 125px;
  margin: 20px 0px 20px 30px;
  // border-bottom: 1px solid #F1F1F1;
}
.publish-list-item-isCode{
  display: flex;
  position: relative;
  width: 90%;
  height: 125px;
  line-height: 125px;
  margin: 20px 0px 0px 30px;
  border-bottom: 1px solid #F1F1F1;
}
.publish-list-item-code{
  display: flex;
  position: relative;
  width: 90%;
  height: 125px;
  line-height: 125px;
  margin: 20px 0px 20px 30px;
  // border-bottom: 1px solid #F1F1F1;
}

.textarea{
  height: 100px !important;
}