.feedback-bttonBox{
  position: fixed;
  left: 0;
  bottom: 0;
  background: rgba(255, 255, 255, 1);
  width: 100%;
  padding: 25px 20px;
  z-index: 20;
}
.feedback-bttonBox-botton {
  width: 100%;
  height: 80px;
  background: linear-gradient(90deg, rgba(39, 176, 255, 1), rgba(12, 122, 252, 1));
  border-radius: 6px;
  color: white;
  margin: 0 auto;
  line-height: 80px;
  text-align: center;
  font-size: 30px;
}

.feedback-body-content {
  background: rgba(255, 255, 255, 1);
  border-radius: 3px;
  padding: 20px;
  box-sizing: border-box;
  margin-bottom: 15px;
}

.superior {
  display: flex;
  margin-bottom: 20px;
}

.superior-text {
  width: 40px;
  height: 40px;
  line-height: 40px;
  text-align: center;
  background: rgba(176, 175, 175, 1);
  border-radius: 2px;
  font-size: 28px;
  color: white;
  margin-top: -5px;
}

.superior-content {
  width: 640px;
  margin-left: 20px;
  font-size: 26px;
  line-height: 35px;
  color: rgba(45, 45, 45, 1);
  word-wrap: break-word;
  font-weight: normal;
  margin-top: -1px;
  letter-spacing: 2px;
  text-align: left;
}

.superiore {
  width: 640px;
  margin-left: -10px;
  font-size: 26px;
  line-height: 35px;
  color: rgba(45, 45, 45, 1);
  word-wrap: break-word;
  font-weight: normal;
  margin-top: -6px;
  letter-spacing: 2px;
}

.superioredase {
  width: 640px;
  font-size: 26px;
  line-height: 35px;
  color: rgba(45, 45, 45, 1);
  word-wrap: break-word;
  font-weight: normal;
  letter-spacing: 2px;
  margin-top: 5px;
  margin-left: 23px;
  text-align: left;
}

.species {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  width: 100%;
  padding-left: 58px;
  box-sizing: border-box;
}

.species-box {
  width: 30%;
  height: 200px;
  margin-bottom: 20px;
  margin-right: 2%;
}

.species-box:nth-child(3n) {
  margin-right: 0;
}

.species-text {
  font-size: 28px;
  color: #8a8787;
  text-align: right;
  flex: 1;
  padding-right: 20px;
  padding-bottom: 20px;
  box-sizing: border-box;
}
.superiordati {
  background: #09f;
  width: 40px;
  height: 40px;
  line-height: 40px;
  border-radius: 2px;
  font-size: 28px;
  color: white;
  text-align: center;
}

.recruit-lists-containerbox {
  width: 100%;
  height: calc(100% - 80px);
  margin-bottom: 200px;
  // position: fixed;
  // top: 0;
  // left: 0;
  // z-index: 3;
  // padding-bottom: 110px;
}
.feedback-noData{
  position: relative;
  width: 100%;
  text-align: center;
  line-height: 50px;
  margin-top: 30px;
  font-size: 28px;
  color: #666;
}
.superior-data{
  width: 100%;
  display: flex;
  padding-top: 20px;
  margin-bottom: 20px;
  border-top: 1px dashed #bbbaba;
}