@import '../../common.scss';

.collection-tab{
  display: flex;
  width: 100%;
  justify-content: space-around;
  height: 20px;
  justify-items: center;
  background: #fff;
  height: 80px;
  line-height: 80px;
  color:rgba(111, 108, 108, 1);
  font-size: 30px;
  margin-top: 18px;
}
.collection-modal-text{
  font-size: 20px;
  text-align: center;
  margin-left: 20%;
  line-height: 100px;
}
.collection-error-text{
  font-size: 20px;
  text-align: center;
  margin-left: 10%;
  line-height: 100px;
}
.collection.active-text{
  color: rgba(0, 153, 255, 1);
  font-size: 30px;
}
.collection-tab-box:first-child {
  border-right: 1px solid #C7C6C6;
}
.collection-tab-box{
  width: 50%;
  text-align: center;
}
.collection-tab-content{
  display: flex;
  justify-content: center;
  align-items: center;
}
.collection-tab-img{
    margin-right: 10px;
    .collect-tab-icon{
    height: 26px;
    width: 26px;
  }
}

.at-modal__content{
min-height: 10px !important;
}

.collection-tab-border {
  border-bottom: 2px solid $color;
}
