@import '../../common.scss';

.query-container{
    position: relative;
    width: 100%;
    padding: 20px;
    border-radius: 10px;
    margin-bottom: 120px;
    .query-box{
        position: relative;
        background: white;
        padding: 20px 50px;
        margin-bottom: 15px;
        @include flex(column);
        .now-query-btn{
            position: relative;
            display: inline-block;
            font-size: 28px;
            background: $color;
            height: 70px;
            line-height: 70px;
            padding: 0 50px;
            color: white;
            margin-top: 20px;
            border-radius: 2px;
        }
    }
    .query-box input {
        border-bottom: 1px solid $bordercolor;
        text-align: center;
        font-size: 30px;
        display: block;
        height: 80px;
        width: 100%;
        line-height: 80px;
    }
    .realname-query-body {
        position: relative;
        padding-bottom: 15px;
        border-radius: 2px;
        .query-common-list {
            position: relative;
            width: 100%;
            background: white;
            margin-top: 15px;
            box-shadow: #e7e6e4 0 0 10px;
            border-top: 1px solid #e7e6e4;
            border-bottom: 1px solid #e7e6e4;
            .query-lists-item {
                position: relative;
                width: 100%;
                min-height: 100px;
                padding: 20px 27px;
                border-bottom: 1px solid #e7e6e4;
                .query-list-left{
                    position: relative;
                    width: auto;
                    min-width: 200px;
                    color: #333;
                    line-height: 60px;
                    font-size: 30px;
                    display: inline-block;
                }
                .query-list-right{
                    position: relative;
                    color: #0099ff;
                    font-size: 30px;
                    line-height: 60px;
                    max-width: 100%;
                    display: inline-block;
                }
            }
        }
    }
    .realname-query-footer{
        position: relative;
        width: 100%;
        padding: 20px 27px;
        background: white;
        box-shadow: #e7e6e4 0 0 10px;
        border-radius: 2px;
        .query-tips-title{
            position: relative;
            background: #f86e09;
            color: white;
            display: inline-block;
            height: 50px;
            line-height: 50px;
            padding: 0 20px;
            font-size: 26px;
            border-radius: 2px;
        }
        .realname-query-words {
          position: relative;
          width: 100%;
          padding-top: 15px;
        }
        .realname-query-words view{
          font-size: 30px;
          line-height: 56px;
        }
    }
    .get-query-tel{color: $color;}
}