@import '../../../common.scss';

.personInfo{
  margin-top: 20px;
}
.publish-recruit-card {
  position: relative;
  width: 93%;
  margin: 0 auto;
  background-color: white;
}
.publish-list-item {
  display: flex;
  position: relative;
  width: 90%;
  height: 125px;
  line-height: 125px;
  margin-left: 30px;
  border-bottom: 1px solid #F1F1F1;
}
.pulish-list-title {
  width: 180px;
  display: block;
  text-align: justify;
  line-height: 125px;
  font-size: 30px;

  &::after {
    @include text-justify();
  }
}
.publish-list-input {
  position: relative;
  width: 100%;
  height: 125px;
  line-height: 125px;
  display: block;
  font-size: 30px;
  margin-left: 30px;

  .publish-input-list {
    position: relative;
    display: inline-block;
    margin-right: 20px;

    &:nth-last-child(1) {
      margin-right: 0;
    }
  }
}
.formBox{
  margin-bottom: 20px;
}
.personInfo-label{
  margin-top: 20px;
  width: 93%;
  background: white;
  margin: 0 auto;
}
.personInfo-label-title{
  font-size: 30px;
  margin-left: 19px;
  margin-top: 24px;
  color: #2A2A2A;
  font-weight: bold;
  padding-top: 20px;
}
.personInfo-footer{
  position: fixed;
  width: 100%;
  bottom: 30px;
}

.personInfo-footer-btn{
  width: 521px;
  background: #108EEF;
  color: white;
  font-size: 38px;
  text-align: center;
  line-height: 97px;
  margin: 0 auto;
  border-radius: 10px;
}
.publish-list-item-sex {
  display: flex;
  position: relative;
  width: 90%;
  height: 125px;
  line-height: 125px;
  border-bottom: 1px solid #F1F1F1;
}
.personInfo-label-list-click {
  margin-top: 12px;
  margin-left: 1%;
  margin-right: 1%;
  display: inline-block;
  width: 150px;
  font-size: 26px;
  text-align: center;
  line-height: 50px;
  border-radius: 24px;
  border: 1px solid #108EEF;
  background: #108EEF;
  color: white;
}
.personInfo-label-list {
  margin-top: 12px;
  margin-left: 1%;
  margin-right: 1%;
  display: inline-block;
  width: 150rpx;
  border: 1px solid #BFBFBF;
  color: #666666;
  font-size: 26px;
  text-align: center;
  line-height: 50px;
  border-radius: 24px;

}
.personInfo-label-list-box{
  width: 94%;
  margin: 0 auto;
  padding: 20px 0px; 
}